body {
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
//	font-size: 3px;
}

a{
color:brown;
font-weight:bold;
text-decoration:none;
}
a:hover{color:red;}
a:active{color:blue;}

#file {
	display: inline;
/*	height: 600px;
	width: 30%;*/
	border: 1px solid #555555;
}

#file_img {
/*    margin-left: auto;
    margin-right: auto;
	width: 20%;*/
}

#in {
	display: inline;
/*	height: 600px;
	width: 30%;*/
	border: 1px solid #555555;
}

#out {
/*	display: inline;
	height: 600px;
	width: 30%;*/
	border: 1px solid #555555;
}

.cells {
	display: inline;
	border: 1px solid #555555;
	background-color: #EEEEEE;
	height: 50px;
	width: 50px;
/*	text-align: center;
	border-collapse: collapse;*/
}