html, body {
  /* height: '100%'; */
  /* height: 100vh; */
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div {
  white-space: pre-wrap;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
} 

.mainContainer {

}

.modal-enter {

}

.modal-enter-active {
		top: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		width: 100vw !important;
		height: 100vh !important;

		/* border: 2px red solid !important; */
}

.modal-enter-done {
		border: 2px green solid !important;
}

.modal-exit {
	
}

.modal-exit-active {
		border: 2px orange solid !important;
}

@media screen and (max-width: 576px) {
/* SM and XS */
	/* h1 {
		font-size: 1.75em;
	}
	p, blockquote {
		font-size: 0.85em;
	} */
}

@media screen and (min-width: 576px) and (max-width: 768px) {
/* MD */
	/* h1 {
		font-size: 1.75em;
	}
	p, blockquote {
		font-size: 0.85em;
	} */
}

@media screen and (min-width: 768px) and (max-width: 992px) {
/* LG */
	/* h1 {
		font-size: 2em;
	}
	p, blockquote {
		font-size: 0.9em;
	} */
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
/* XL */
	/* h1 {
		font-size: 2.25em;
	}
	p, blockquote {
		font-size: 0.95em;
	} */
}

@media screen and (min-width: 1200px) {
/* XL */
	/* h1 {
		font-size: 2,5em;
	}
	p, blockquote {
		font-size: 1em;
	} */
}